# Auto detect text files and perform LF normalization
* text=auto
value=5+((7*5)%8)%3**5
print(value)


stop1=40*2
print(stop1)
stop2=30*5
print(stop2)


x=124.2
y=-2
if x > y:
    print(x)
else:
    print(y)




x=5
y=5
z=4
if x==y==z:
    print("3")
if x==y or x==z or y==z:
    print("2")
if x!=y!=z:
    print("0")


x1=7
y1=2
x2=2
y2=7
if(abs(x1-x2)==8)&(abs(y1-y2)==8):
    print("Yes")
else:
    print("no")  



par=input("Введите пароль:")
len(par) 
while len(par)>8:
    par.isalnum()
    par.istitle()
    print("par")
else:
    print(input("введите пароль:")) 
    
